services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:8080"
    environment:
      - MONGODB_URL=mongodb://host.docker.internal:27017/restaurant



